## 학습목표
 1. concat 함수를 활용하여 dataframe 병합시키기

In [1]:
import pandas as pd
import numpy as np

#### concat 함수 사용하여 dataframe 병합하기
 - pandas.concat 함수
 - 축을 따라 dataframe을 병합 가능
   - 기본 axis = 0 -> 행단위 병합

* column명이 같은 경우

In [2]:
df1 = pd.DataFrame({'key1' : np.arange(10), 'value1' : np.random.randn(10)})

In [3]:
df2 = pd.DataFrame({'key1' : np.arange(10), 'value1' : np.random.randn(10)})

In [4]:
df2

   key1    value1
0     0  1.371901
1     1  1.350816
2     2 -0.102818
3     3 -0.395633
4     4  0.618141
5     5  1.597790
6     6 -1.477240
7     7 -0.741999
8     8 -1.156294
9     9  0.612973

In [5]:
pd.concat([df1, df2], ignore_index=True)

    key1    value1
0      0  0.745740
1      1  0.734096
2      2  1.344854
3      3  1.530327
4      4  1.962732
5      5  0.729092
6      6  0.389033
7      7 -1.459689
8      8  0.133826
9      9  0.738105
10     0  1.371901
11     1  1.350816
12     2 -0.102818
13     3 -0.395633
14     4  0.618141
15     5  1.597790
16     6 -1.477240
17     7 -0.741999
18     8 -1.156294
19     9  0.612973

In [6]:
pd.concat([df1, df2], axis=1)

   key1    value1  key1    value1
0     0  0.745740     0  1.371901
1     1  0.734096     1  1.350816
2     2  1.344854     2 -0.102818
3     3  1.530327     3 -0.395633
4     4  1.962732     4  0.618141
5     5  0.729092     5  1.597790
6     6  0.389033     6 -1.477240
7     7 -1.459689     7 -0.741999
8     8  0.133826     8 -1.156294
9     9  0.738105     9  0.612973

* column 명이 다른 경우

In [7]:
df3 = pd.DataFrame({'key2' : np.arange(10), 'value2' : np.random.randn(10)})

In [8]:
pd.concat([df1, df3], axis=1)

   key1    value1  key2    value2
0     0  0.745740     0 -0.386567
1     1  0.734096     1  0.589819
2     2  1.344854     2 -1.758419
3     3  1.530327     3  0.137269
4     4  1.962732     4 -1.095894
5     5  0.729092     5 -0.343901
6     6  0.389033     6 -0.275460
7     7 -1.459689     7  0.529608
8     8  0.133826     8  2.346263
9     9  0.738105     9  1.374987